src/main/resources/wsdl/common/v10/types/DeliveryNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://bip.bee.kz/common/v10/types"
	xmlns:bons0="http://bip.bee.kz/common/v10/types"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



	<xsd:include schemaLocation="DeliveryStatusInfo.xsd" />
	<xsd:complexType name="DeliveryNotification">
		<xsd:sequence>

			<xsd:element minOccurs="1" name="messageId"
				type="xsd:string">
				<xsd:annotation><xsd:documentation>Идентификатор сообщения</xsd:documentation></xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="1" name="serviceId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="notificationDate"
				type="xsd:dateTime">
				<xsd:annotation><xsd:documentation>Дата создания уведомления</xsd:documentation></xsd:annotation>
			</xsd:element>



			<xsd:element minOccurs="1" name="deliveryStatus"
				type="bons0:DeliveryStatusInfo">
				<xsd:annotation><xsd:documentation>статус доставки(привема сообщения)</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>