src/main/resources/wsdl/common/v10/types/StatusInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://bip.bee.kz/common/v10/types"
	xmlns:bons0="http://bip.bee.kz/common/v10/types"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="StatusInfo">
		<xsd:annotation>
      <xsd:documentation>Статус</xsd:documentation>
    </xsd:annotation>
		<xsd:sequence>

			<xsd:element minOccurs="1" name="code" type="xsd:string">
				<xsd:annotation>
          
        <xsd:documentation>Код статуса (простовляется системой получателя запроса)</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="message">
				<xsd:annotation>
          <xsd:documentation>Сообщение о статусе </xsd:documentation>
        </xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>