src/main/resources/wsdl/AsyncChannel/v10/Types/AsyncMessageInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://bip.bee.kz/AsyncChannel/v10/types"
	xmlns:bons0="http://bip.bee.kz/common/v10/types"
	xmlns:bons1="http://bip.bee.kz/AsyncChannel/v10/types"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://bip.bee.kz/common/v10/types"
		schemaLocation="../../../common/v10/types/Guid.xsd">
	</xsd:import>
	<xsd:import namespace="http://bip.bee.kz/common/v10/types"
		schemaLocation="../../../common/v10/types/Property.xsd">
	</xsd:import>
	<xsd:import namespace="http://bip.bee.kz/common/v10/types"
		schemaLocation="../../../common/v10/types/SenderInfo.xsd">
	</xsd:import>
	<xsd:complexType name="AsyncMessageInfo">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="messageId"
				type="xsd:string">
				<xsd:annotation>
          
        <xsd:documentation>Идентификатор сообщения.
Идентификатор сообщения генерируется ШЭП. Поэтому в случает отправки сообщения на ШЭП данное поле должно быть пустым. В случае когда сообщение передается получателю номер будет проставлен ШЭП.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="correlationId"
				type="xsd:string">
				<xsd:annotation>
          
        <xsd:documentation>Идентификатор цепочки сообщений. Генерируется ШЭП. Поэтому в случает отправки сообщения типа REQUEST на ШЭП данное поле должно быть пустым. При отправке сообщений других типов на ШЭП, данное поле ДОЛЖНО БЫТЬ ЗАПОЛНЕНО. В случае когда сообщение передается получателю номер будет проставлен ШЭП. </xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="serviceId"
				type="xsd:string">
				<xsd:annotation>
          
        <xsd:documentation>Идентификатор взаимодействия. По реестру сервисов ШЭП.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="messageType">
				<xsd:annotation>
          
        <xsd:documentation>Тип сообщения:
REQUEST - первое сообщения взаимодействия
UPDATE - сообщения обновление данных
NOTIFICATION - сообщение уведомление
RESPONSE - сообщение ответ

</xsd:documentation></xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="REQUEST" />
						<xsd:enumeration value="NOTIFICATION" />
						<xsd:enumeration value="UPDATE" />
						<xsd:enumeration value="RESPONSE" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="routeId"
				type="xsd:string">
				<xsd:annotation>
          
        <xsd:documentation>Идентификатор маршрута
</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="messageDate"
				type="xsd:dateTime">
				<xsd:annotation>
          <xsd:documentation>Дата создания сообщения</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<!--  <xsd:element minOccurs="0" name="SenderCorrelationId" type="xsd:string">
				<xsd:annotation>
				<xsd:documentation>Идентификатор цепочки сообщения в системе отправителя</xsd:documentation>
				</xsd:annotation>
				</xsd:element>-->
			<xsd:element minOccurs="1" name="sender"
				type="bons0:SenderInfo">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="properties" type="bons0:Property">
				<xsd:annotation>
          <xsd:documentation>Массив дополнительных своиств сообщения</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="sessionId"
				type="bons0:guid">
				<xsd:annotation>
          <xsd:documentation>Идентификатор сессии ШЭП. Заполняется на ШЭП, отправителю заполнять не надо. </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>