src/main/resources/wsdl/AsyncChannel/v10/Types/AsyncGetMessagesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://bip.bee.kz/AsyncChannel/v10/types"
	xmlns:bons0="http://bip.bee.kz/common/v10/types"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://bip.bee.kz/common/v10/types"
		schemaLocation="../../../common/v10/types/Property.xsd">
	</xsd:import>
	<xsd:import namespace="http://bip.bee.kz/common/v10/types"
		schemaLocation="../../../common/v10/types/SenderInfo.xsd">
	</xsd:import>
	<xsd:complexType name="AsyncGetMessagesRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="messageId"
				type="xsd:string">
				<xsd:annotation><xsd:documentation>Идентификатор сообщения, можно не вводить</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="correlationId"
				type="xsd:string">
				<xsd:annotation><xsd:documentation>Идентификатор цепочки сообщения, можно не вводить</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="requestDate"
				type="xsd:dateTime">
				<xsd:annotation><xsd:documentation>Дата запроса</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="serviceId"
				type="xsd:string">
				<xsd:annotation><xsd:documentation>Идентификатор сервиса</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="sender"
				type="bons0:SenderInfo">
				<xsd:annotation><xsd:documentation>Информация об отправителе</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="amount" type="xsd:int"><xsd:annotation><xsd:documentation>Максимальное кол-во сообщений в выборке.
Если данное поле отсутствует в запросе или равно 0 то будет принято настроеное на ШЭПе значение</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="properties" type="bons0:Property">
				<xsd:annotation><xsd:documentation>Массив своиств запроса</xsd:documentation></xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>