src/main/resources/wsdl/AsyncChannel/v10/Types/AsyncChangeStatusNotifyRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://bip.bee.kz/AsyncChannel/v10/types"
	xmlns:bons0="http://bip.bee.kz/common/v10/types"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://bip.bee.kz/common/v10/types"
		schemaLocation="../../../common/v10/types/ChangeStatusNotification.xsd">
	</xsd:import>

	<xsd:import namespace="http://bip.bee.kz/common/v10/types"
		schemaLocation="../../../common/v10/types/Guid.xsd">
	</xsd:import>
	<xsd:complexType name="AsyncChangeStatusNotifyRequest">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="notification"
				type="bons0:ChangeStatusNotification">
				<xsd:annotation>
          <xsd:documentation>Идентификатор уведомления</xsd:documentation>
        </xsd:annotation>
			</xsd:element>





			<xsd:element minOccurs="1" name="requestDate"
				type="xsd:dateTime">
				<xsd:annotation>
          <xsd:documentation>Дата запроса</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="sessionId"
				type="bons0:guid">
				<xsd:annotation>
          <xsd:documentation>Идентификатор сессии ШЭП</xsd:documentation>
        </xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>