src/main/resources/wsdl/AsyncChannel/v10/Types/AsyncSendDeliveryNotificationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://bip.bee.kz/AsyncChannel/v10/types"
	xmlns:bons0="http://bip.bee.kz/common/v10/types"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://bip.bee.kz/common/v10/types"
		schemaLocation="../../../common/v10/types/Guid.xsd">
	</xsd:import>
	<xsd:complexType name="AsyncSendDeliveryNotificationResponse">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="notificationId"
				type="xsd:string">
				<xsd:annotation><xsd:documentation>идентификатор сообщения</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="responseDate"
				type="xsd:dateTime"><xsd:annotation><xsd:documentation>Дата ответа</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="sessionId"
				type="bons0:guid">
				<xsd:annotation><xsd:documentation>Идентификатор сессии ШЭП</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>