src/main/resources/wsdl/SyncChannel/v10/types/SyncSendMessageResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://bip.bee.kz/SyncChannel/v10/types/Response" xmlns:bons0="http://bip.bee.kz/common/v10/types" xmlns:bons2="http://bip.bee.kz/SyncChannel/v10/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://bip.bee.kz/SyncChannel/v10/types" schemaLocation="SyncMessageInfoResponse.xsd"/>
    <xsd:import namespace="http://bip.bee.kz/common/v10/types" schemaLocation="../../../common/v10/types/MessageData.xsd"/>
	<xsd:complexType name="SyncSendMessageResponse">
		<xsd:annotation>
      <xsd:documentation>информация о сообщении ответе</xsd:documentation>
    </xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="1" name="responseInfo" type="bons2:SyncMessageInfoResponse">
				<xsd:annotation>
          <xsd:documentation>Мета данные ответа</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="responseData" type="bons0:MessageData">
				<xsd:annotation>
          
        <xsd:documentation>Объект бизнесс данные ответа</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>