src/main/resources/wsdl/SyncChannel/v10/types/SyncSendMessageRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://bip.bee.kz/SyncChannel/v10/types/Request" xmlns:bons0="http://bip.bee.kz/common/v10/types" xmlns:bons2="http://bip.bee.kz/SyncChannel/v10/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://bip.bee.kz/SyncChannel/v10/types" schemaLocation="SyncMessageInfo.xsd"/>
    <xsd:import namespace="http://bip.bee.kz/common/v10/types" schemaLocation="../../../common/v10/types/MessageData.xsd"/>
	<xsd:complexType name="SyncSendMessageRequest">
		<xsd:annotation>
      <xsd:documentation>Формат объекта запроса метода отправки сообщения по синхронному каналу</xsd:documentation>
    </xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="1" name="requestInfo" type="bons2:SyncMessageInfo">
				<xsd:annotation>
          
        <xsd:documentation>Объект информация о сообщения запроса</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="1" name="requestData" type="bons0:MessageData">
				<xsd:annotation>
          
        <xsd:documentation>Объект передачи бизнес данных запроса</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>